* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url('https://cdn.pixabay.com/photo/2025/10/02/15/18/sheikh-zayed-grand-mosque-9868660_1280.jpg');
   background-repeat: no-repeat;
   background-size: cover; */

}