* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #f0f4f8;
}

#cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  width: 400px;
  margin: 60px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



#cont img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid gold;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: left;
}

p {
  color: #555;
  margin: 0;
  gap: 8px;
  font-size: 0.95rem;
}

strong {
  color: #222;
}

#atm{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


#row{
    display: flex;
  align-items: center;
  justify-content: center;
}